#album {
  width: 300px;
  height: 380px;
  background-color: #cecece;
}

#instagramdetails {
  background-color: #cecece;
  width: 750px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.albumcover {
	cursor: pointer;
}